.vscode/**
.vscode-test/**
src/**
out/**
scripts/**
node_modules/**
.git/**
.gitignore
.eslintrc*
tsconfig.json
esbuild.config.mjs
pnpm-lock.yaml
package-lock.json
yarn.lock
*.vsix
**/*.map
**/*.ts
!dist/**/*.js
